[Unit]
Requires=firefly_iii-db.service
After=firefly_iii-db.service

[Container]
ContainerName=firefly_iii_core
EnvironmentFile=/etc/containers/systemd/env/firefly_iii.env
HostName=app
Image=docker.io/fireflyiii/core:latest
Network=firefly_iii.network
PublishPort=7777:8080
Volume=firefly_iii_upload:/var/www/html/storage/upload

[Service]
Restart=always

[Install]
WantedBy=default.target
