# cron.container
[Unit]
Requires=firefly_iii.service
After=firefly_iii.service

[Container]
ContainerName=firefly_iii_cron
EnvironmentFile=.env
Exec=sh -c " apk add tzdata && \\ ln -fs /usr/share/zoneinfo/"'$$TZ /etc/localtime && '"\\ echo \"0 3 * * * wget -qO- http://app:8080/api/v1/cron/"'$$STATIC_CRON_TOKEN;echo" | crontab - && '"\\ crond -f -L /dev/stdout"
Image=alpine
Network=firefly_iii

[Service]
Restart=always
