[Unit]
Description=Ollama service
After=network-online.target

[Container]
ContainerName=ollama
Image=docker.io/ollama/ollama:latest
PublishPort=11434:11434
Volume=ollama:/root/.ollama
Network=ollama.network

[Install]
WantedBy=default.target